<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
	<meta charset="gb2312">
<title>观点  /  通信_我的网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
	<!-- <link rel="stylesheet" type="text/css" href="/dede58/css/cmstop-common.css" />-->
	<!-- <link rel="stylesheet" type="text/css" href="/dede58/css/cmstop-index.css" /> -->
	<!--[if lt IE 9 ]>
		<script type="text/javascript" src="/dede58/js/helper/modernizr.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/dede58/js/cmstop-common.js"></script>
	<script type="text/javascript" src="/dede58/js/jquery.js"></script>
	<script type="text/javascript" src="/dede58/js/config.js"></script>
	<script type="text/javascript" src="/dede58/js/jquery.cookie.js"></script>
	<!-- <link href="http://img.ikanchai.com/apps/history/css/history.css" type="text/css" rel="stylesheet" /> -->
	<!-- 本页面私有 -->
    	<link rel="stylesheet" type="text/css" href="/dede58/html/css/style.css" />
    	<script type="text/javascript" src="/dede58/html/js/common.js"></script>
	<script type="text/javascript" src="/dede58/html/js/list.js"></script>
	<!-- @本页面私有 -->
</head>
<body>
	<!--网站公共头部-->
	<div class="topbar">
	 <div class=" wrapper">
		<div class="logo"><a href="/" title="我的网站" >我的网站</a></div>
		<ul class="nav">
			<li><strong><a href="/" title="" target="_self"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></strong></li>
            
	<li><strong><a href="/a/view/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;观点</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/view/opinion/" title="" target="_self">观点</a></dd>
                    
					<dd><a href="/a/view/ec/" title="" target="_self">电商</a></dd>
                    
					<dd><a href="/a/view/media/" title="" target="_self">传媒</a></dd>
                    
					<dd><a href="/a/view/unicom/" title="" target="_self">通信</a></dd>
                    
				</dl></li><li><strong><a href="/a/start/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;创投</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/start/work/" title="" target="_self">创业</a></dd>
                    
					<dd><a href="/a/start/people/" title="" target="_self">人物</a></dd>
                    
				</dl></li><li><strong><a href="/a/shangye/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;商业</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/zhike/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;智客</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/kuaibao/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;快报</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/zimeiti/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;自媒体</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/zimeiti/yejie/" title="" target="_self">业界</a></dd>
                    
					<dd><a href="/a/zimeiti/shouyou/" title="" target="_self">手游</a></dd>
                    
					<dd><a href="/a/zimeiti/chuanmei/" title="" target="_self">传媒</a></dd>
                    
					<dd><a href="/a/zimeiti/shouji/" title="" target="_self">手机</a></dd>
                    
				</dl></li>          
     
		</ul>
		<div class="action"> 
			<a href="/a/about/submission/" class="n1" target="_blank" title="投稿">投稿</a>			
		</div>
	</div>
</div>

	<!--@网站公共头部-->
	<div class="main newslist">
	<!--左侧-->
	<div class="listl list2">
		<div class="listview">通信</div>
		<ul>
    <li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/62.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/62.html"  target="_blank" title="苹果将军，看国产手机如何跳马？">
							<img src="/uploads/allimg/150207/30.jpg" alt="苹果将军，看国产手机如何跳马？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/62.html"  target="_blank" title="苹果将军，看国产手机如何跳马？">苹果将军，看国产手机如何跳马？</a></h3>
					<p>不管怎样，国内手机企业以性价比来赢取市场的战或将会做出调整，相信会有更多的国产手机厂商将更关注利润和品牌，以求真正缩小和苹果的差距。当苹果都紧盯着中国春节的时候，（苹果表示：2月19日是中国春......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/60.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/60.html"  target="_blank" title="安卓生态下不会有“护城河”，三星走向衰落绝非危言耸听">
							<img src="/uploads/allimg/150207/28.jpg" alt="安卓生态下不会有“护城河”，三星走向衰落绝非危言耸听" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/60.html"  target="_blank" title="安卓生态下不会有“护城河”，三星走向衰落绝非危言耸听">安卓生态下不会有“护城河”，三星走向衰落绝非危言耸</a></h3>
					<p>紧跟苹果，三星与昨日发布了2014年第四度财报，但两者境遇却截然不同。2014年全年，三星利润为25万亿韩元，低于2013年的36.8万亿韩元，创下自2011年以来的最低纪录。和苹果史无前例的辉煌财报相比，三星的......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/61.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/61.html"  target="_blank" title="失去大客户三星，股价蒸发140亿，高通正在迎来最冷寒冬">
							<img src="/uploads/allimg/150207/29.jpg" alt="失去大客户三星，股价蒸发140亿，高通正在迎来最冷寒冬" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/61.html"  target="_blank" title="失去大客户三星，股价蒸发140亿，高通正在迎来最冷寒冬">失去大客户三星，股价蒸发140亿，高通正在迎来最冷寒</a></h3>
					<p>有传言称，这家全球最大移动芯片制造商的全新主力芯片存在过热问题。高通于本周三表示，一家重要客户决定放弃在其旗舰手机内采用该款处理器--市场普遍认为这是在暗示三星及其下一代Galaxy S智能手机；这一......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/59.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/59.html"  target="_blank" title="你感受过那种狂躁吗——电信业务办完之后“下月生效”">
							<img src="/uploads/allimg/150207/27.jpg" alt="你感受过那种狂躁吗——电信业务办完之后“下月生效”" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/59.html"  target="_blank" title="你感受过那种狂躁吗——电信业务办完之后“下月生效”">你感受过那种狂躁吗——电信业务办完之后“下月生效”</a></h3>
					<p>运营商最近两三年在内外问题交叉困扰下，对于自身业务上存在的问题也已经开始变得麻木了，随着经营环境变化需要加以优化的也没有及时得到优化，一边是面对用户的负面评价觉得委屈，另一边又是内部士气低落......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/58.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/58.html"  target="_blank" title="国家重拳整治黑卡，淘宝再受波及？">
							<img src="/uploads/allimg/150207/26.jpg" alt="国家重拳整治黑卡，淘宝再受波及？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/58.html"  target="_blank" title="国家重拳整治黑卡，淘宝再受波及？">国家重拳整治黑卡，淘宝再受波及？</a></h3>
					<p>近日，工信部、公安部和国家工商总局的一纸通告引发通信运营商、虚拟运营商和相关手机号卡商家的关注，这则名为《电话“黑卡”治理专项行动工作方案》的文件明确指出，从今年1月1日起，将在全国联合开展为......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/56.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/56.html"  target="_blank" title="流量经营创新不是没技术，而是运营商没决心！">
							<img src="/uploads/allimg/150207/24.jpg" alt="流量经营创新不是没技术，而是运营商没决心！" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/56.html"  target="_blank" title="流量经营创新不是没技术，而是运营商没决心！">流量经营创新不是没技术，而是运营商没决心！</a></h3>
					<p>随着电信运营商流量经营创新的深入，面临的问题越来越多，下一步发展的争论更加激烈，内外部质疑不断。流量经营创新到底有多难？是否已经走进了死胡同？这些问题对于运营商人而言显得尤为重要。诸多观点中......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/57.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/57.html"  target="_blank" title="一周预订百万台，MOTO能否王者归来？">
							<img src="/uploads/allimg/150207/25.png" alt="一周预订百万台，MOTO能否王者归来？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/57.html"  target="_blank" title="一周预订百万台，MOTO能否王者归来？">一周预订百万台，MOTO能否王者归来？</a></h3>
					<p>杨元庆说MOTO在4-6个季度后盈利，那么1-2个季度MOTO的销售能力和扭亏幅度将决定是否可以兑现承诺。很显然，第一个季度MOTO的销售很重要，如果达不到预期，或许下调价格将成为必然。但这就要牺牲利润率。此......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/55.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/55.html"  target="_blank" title="福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度市场">
							<img src="/uploads/allimg/150207/23.jpg" alt="福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度市场" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/55.html"  target="_blank" title="福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度市场">福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度</a></h3>
					<p>说实话，美国媒体现在颇有些“天朝上国，万邦来朝”感觉，这也难怪，美国互联网仍是世界的中心，有苹果、微软、Google、Facebook 这几座大山在，就算是有了互联网世界的绝对话语权。但是来自中国等地的互......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/54.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/54.html"  target="_blank" title="反思国内运营商，美国东部小镇的移动通信初体验">
							<img src="/uploads/allimg/150207/22.jpg" alt="反思国内运营商，美国东部小镇的移动通信初体验" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/54.html"  target="_blank" title="反思国内运营商，美国东部小镇的移动通信初体验">反思国内运营商，美国东部小镇的移动通信初体验</a></h3>
					<p>虽然只有一周时间，但已经深切感受到：美国运营商所面对的市场和商业环境与国内有很大不同。业务使用场景不同、消费模式不同、外部环境不同，对美国运营商的举措国内可以学习借鉴，但不可照搬，更不宜盲目......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/53.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/53.html"  target="_blank" title="一入电信深似海，从此手机不好买的时代要结束了？">
							<img src="/uploads/allimg/150207/21.jpg" alt="一入电信深似海，从此手机不好买的时代要结束了？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/53.html"  target="_blank" title="一入电信深似海，从此手机不好买的时代要结束了？">一入电信深似海，从此手机不好买的时代要结束了？</a></h3>
					<p>2月5日，中国电信联手高通召开2015年中国电信终端产业链年会。2月6日，联发科就发布了首款支持CDMA制式SoC新品，这也是联发科首款整合CDMA2000技术的4G 64位全网通SoC解决方案，支持全球全模WorldMode规格......</p>
					<span>2015-02-07 11:34</span>
				</li>
							
					</ul>
		<div class="page">
        <span class="pageinfo">共 <strong>1</strong>页<strong>10</strong>条记录</span>

		</div>
	</div>

	<!--右侧-->
	<div class="listr">
		<!-- 广告位_01 -->
		<div class="adimg"><a href="" title="" target="_blank"><img src="/dede58/html/images/img14.jpg" alt="" /></a></div>
		<!-- @广告位_01 -->
		<!--排行榜-->
		<div class="viewpoint hotlist">
			<div class="hd">
				<ul><li><a href="javascript:;" class="on">总排行</a></li><li><a href="javascript:;">月排行</a></li><li><a href="javascript:;">周排行</a></li></ul>
			</div>
			<div class="com-title"><span><img src="/dede58/html/images/symbol-18.png" alt="" />排行榜</span></div>
			<div class="bd">
						<ul>
      <li><a href="/a/view/unicom/2015/0207/59.html">你感受过那种狂躁吗——电信业务办完</a></li>
<li><a href="/a/view/unicom/2015/0207/61.html">失去大客户三星，股价蒸发140亿，高</a></li>
<li><a href="/a/view/unicom/2015/0207/55.html">福布斯：这些听都没听过的手机品牌怎</a></li>
<li><a href="/a/view/unicom/2015/0207/53.html">一入电信深似海，从此手机不好买的时</a></li>
<li><a href="/a/view/unicom/2015/0207/58.html">国家重拳整治黑卡，淘宝再受波及？</a></li>
<li><a href="/a/view/unicom/2015/0207/60.html">安卓生态下不会有“护城河”，三星走</a></li>
<li><a href="/a/view/unicom/2015/0207/57.html">一周预订百万台，MOTO能否王者归来？</a></li>
<li><a href="/a/view/unicom/2015/0207/62.html">苹果将军，看国产手机如何跳马？</a></li>
<li><a href="/a/view/unicom/2015/0207/54.html">反思国内运营商，美国东部小镇的移动</a></li>
     
							</ul>
						<ul>
       
							</ul>
						<ul>
       
							</ul>
						</div>
		</div>
		<div class="floatfix"></div>
		<!-- 广告位_02-->
		<div class="adimg2">
			<a href="" title="" target="_blank"><img src="/dede58/html/images/img15.jpg" alt="" /></a>
		</div>
		<!-- @广告位_02 -->
		<!--编辑推荐-->
		<div class="recommend">
			<div class="com-title" style="margin-bottom:10px;"><span><img src="/dede58/html/images/symbol-7.png" alt="编辑推荐" />编辑推荐</span></div>
			<ul class="ulfix">
                  
			</ul>
		</div>
		<!-- 广告位_03-->
		<div class="adimg"><a href="" title="" target="_blank"><img src="/dede58/html/images/img17.jpg" alt="" /></a></div>
		<!-- @广告位_03 -->
		<div class="follow">
			<div class="com-title"><span><img src="/dede58/html/images/symbol-5.png" alt="" />关注我们</span></div>
			<div class="followcon followcon2">
				<span>关注微信公众号，了解最新精彩内容</span>
				<p class="">
					<img src="/dede58/html/images/qr1.jpg" alt="" />
<img src="/dede58/html/images/qr2.jpg" alt="" />
				</p>
			</div>
		</div>
	</div>	

	<div class="mreturn">
		<div id="code"></div>
<div id="code_img" src="/dede58/html/images/qr2.jpg"></div>
<a id="gotop"></a> 

	</div>
</div>

	<!--网站公共页脚-->
	<div class="footer">
  <div class="wrapper">
    <div class="lft">Copyright &copy; 2002-2011 织梦科技 版权所有  备案：蜀ICP备12345678号 </div>
    <div class="rgt">
    
      <a href='/a/about/'>关于我们</a>
	<span></span>
    
      <a href='/a/about/report/'>寻求报道</a>
	<span></span>
    
      <a href='/a/about/submission/'>投稿须知</a>
	<span></span>
    
      <a href='/a/about/cooperation/'>商务合作</a>
	<span></span>
    
      <a href='/a/about/notice/'>版权申明</a>
	<span></span>
    
      <a href='/a/about/contact/'>联系我们</a>
	<span></span>
    
    <span style="display:none"><!-- 站长统计 --></span>
    </div>
  </div>
</div>	

<script>
$(function(){
	$(".nav li dl").each(function(){
		if($(this).find("dd").size()==0){
			$(this).remove();
		}		
	});
	
});
</script>
<!--@网站公共页脚-->
</body>
</html>
