<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>安装程序 - 欢迎访问锦尚中国源码论坛获得更多建站资源</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
<div class="min_box">
<div class="logo">
<a href="/" hidefocus><img src="/install/images/install_52jscn.png" alt="企业邮箱"></a>
</div>
<div class="setinfo" >
<a href="http://bbs.52jscn.com" target="_blank" class="sign_up" hidefocus>官方网站</a><a href="http://bbs.52jscn.com" target="_blank" class="logoin">技术论坛</a></div>
</div>
</div>
</header>

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="succeed">正在安装</li>
					<li class="now">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>安装完成</h3></div>
		<div class="install-msg">
			锦尚中国恭喜您!已成功安装织梦内容管理系统.您现在可以:
			<br />
			<?php echo $errmsg; ?>
		</div>
		<div class="over-link fs-14">
			<a href="../index.php?upcache=1" target="_blank">访问网站首页</a>
			<a href="../52jscn_admin" target="_blank">登录网站后台</a>
			<a href="http://bbs.52jscn.com" target="_blank">获取更多资源</a>
			<a href="http://idc.52jscn.com" target="_blank">挑选主机域名</a>		</div>
	</div>
</div>

<div class="foot">
</div>

</body>
</html>
