<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
	<meta charset="gb2312">
<title>观点_我的网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
	<!-- <link rel="stylesheet" type="text/css" href="/dede58/css/cmstop-common.css" />-->
	<!-- <link rel="stylesheet" type="text/css" href="/dede58/css/cmstop-index.css" /> -->
	<!--[if lt IE 9 ]>
		<script type="text/javascript" src="/dede58/js/helper/modernizr.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/dede58/js/cmstop-common.js"></script>
	<script type="text/javascript" src="/dede58/js/jquery.js"></script>
	<script type="text/javascript" src="/dede58/js/config.js"></script>
	<script type="text/javascript" src="/dede58/js/jquery.cookie.js"></script>
	<!-- <link href="http://img.ikanchai.com/apps/history/css/history.css" type="text/css" rel="stylesheet" /> -->
	<!-- 本页面私有 -->
    	<link rel="stylesheet" type="text/css" href="/dede58/html/css/style.css" />
    	<script type="text/javascript" src="/dede58/html/js/common.js"></script>
	<script type="text/javascript" src="/dede58/html/js/list.js"></script>
	<!-- @本页面私有 -->
</head>
<body>
	<!--网站公共头部-->
	<div class="topbar">
	 <div class=" wrapper">
		<div class="logo"><a href="/" title="我的网站" >我的网站</a></div>
		<ul class="nav">
			<li><strong><a href="/" title="" target="_self"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></strong></li>
            
	<li><strong><a href="/a/view/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;观点</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/view/opinion/" title="" target="_self">观点</a></dd>
                    
					<dd><a href="/a/view/ec/" title="" target="_self">电商</a></dd>
                    
					<dd><a href="/a/view/media/" title="" target="_self">传媒</a></dd>
                    
					<dd><a href="/a/view/unicom/" title="" target="_self">通信</a></dd>
                    
				</dl></li><li><strong><a href="/a/start/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;创投</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/start/work/" title="" target="_self">创业</a></dd>
                    
					<dd><a href="/a/start/people/" title="" target="_self">人物</a></dd>
                    
				</dl></li><li><strong><a href="/a/shangye/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;商业</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/zhike/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;智客</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/kuaibao/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;快报</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/zimeiti/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;自媒体</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/zimeiti/yejie/" title="" target="_self">业界</a></dd>
                    
					<dd><a href="/a/zimeiti/shouyou/" title="" target="_self">手游</a></dd>
                    
					<dd><a href="/a/zimeiti/chuanmei/" title="" target="_self">传媒</a></dd>
                    
					<dd><a href="/a/zimeiti/shouji/" title="" target="_self">手机</a></dd>
                    
				</dl></li>          
     
		</ul>
		<div class="action"> 
			<a href="/a/about/submission/" class="n1" target="_blank" title="投稿">投稿</a>			
		</div>
	</div>
</div>

	<!--@网站公共头部-->
	<div class="main newslist">
	<!--左侧-->
	<div class="listl list2">
		<div class="listview">观点</div>
		<ul>
    <li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/55.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/55.html"  target="_blank" title="福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度市场">
							<img src="/uploads/allimg/150207/23.jpg" alt="福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度市场" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/55.html"  target="_blank" title="福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度市场">福布斯：这些听都没听过的手机品牌怎样颠覆中国和印度</a></h3>
					<p>说实话，美国媒体现在颇有些“天朝上国，万邦来朝”感觉，这也难怪，美国互联网仍是世界的中心，有苹果、微软、Google、Facebook 这几座大山在，就算是有了互联网世界的绝对话语权。但是来自中国等地的互......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/54.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/54.html"  target="_blank" title="反思国内运营商，美国东部小镇的移动通信初体验">
							<img src="/uploads/allimg/150207/22.jpg" alt="反思国内运营商，美国东部小镇的移动通信初体验" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/54.html"  target="_blank" title="反思国内运营商，美国东部小镇的移动通信初体验">反思国内运营商，美国东部小镇的移动通信初体验</a></h3>
					<p>虽然只有一周时间，但已经深切感受到：美国运营商所面对的市场和商业环境与国内有很大不同。业务使用场景不同、消费模式不同、外部环境不同，对美国运营商的举措国内可以学习借鉴，但不可照搬，更不宜盲目......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/unicom/2015/0207/53.html" class="zzsz">
						</a><a href="/a/view/unicom/2015/0207/53.html"  target="_blank" title="一入电信深似海，从此手机不好买的时代要结束了？">
							<img src="/uploads/allimg/150207/21.jpg" alt="一入电信深似海，从此手机不好买的时代要结束了？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/unicom/'>通信</a></div>
					</div>
					<h3><a href="/a/view/unicom/2015/0207/53.html"  target="_blank" title="一入电信深似海，从此手机不好买的时代要结束了？">一入电信深似海，从此手机不好买的时代要结束了？</a></h3>
					<p>2月5日，中国电信联手高通召开2015年中国电信终端产业链年会。2月6日，联发科就发布了首款支持CDMA制式SoC新品，这也是联发科首款整合CDMA2000技术的4G 64位全网通SoC解决方案，支持全球全模WorldMode规格......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/52.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/52.html"  target="_blank" title="一位自媒体人士的呐喊：微信公众号抄袭所得应归原作者所有">
							<img src="/uploads/allimg/150207/20.jpg" alt="一位自媒体人士的呐喊：微信公众号抄袭所得应归原作者所有" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/52.html"  target="_blank" title="一位自媒体人士的呐喊：微信公众号抄袭所得应归原作者所有">一位自媒体人士的呐喊：微信公众号抄袭所得应归原作者</a></h3>
					<p>当然，与打击假货一样的是，微信公众平台虽然纵容抄袭的责任难辞其咎，可最终的责任却并不应该由微信来独自承担。打击抄袭应该是有关部门的权力和义务。制度应该由有关部门来制定，可以由微信运营方来执行......</p>
					<span>2015-02-07 11:34</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/51.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/51.html"  target="_blank" title="视频为支撑的独立社交为何难行其道？">
							<img src="/uploads/allimg/150207/19.png" alt="视频为支撑的独立社交为何难行其道？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/51.html"  target="_blank" title="视频为支撑的独立社交为何难行其道？">视频为支撑的独立社交为何难行其道？</a></h3>
					<p>在互联网创立之初，博客和论坛成了主流的社交平台，在2G和3G时代以文字、图片、语音为载体微博微信等成了社交的主流。如今，4G的覆盖以超乎想象，WiFi的大范围应用更在意料之外，更能表现用户真实生活和情......</p>
					<span>2015-02-07 11:33</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/50.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/50.html"  target="_blank" title="传统媒体人那么三次离职潮——伴随媒体转型的始末">
							<img src="/uploads/allimg/150207/18.jpg" alt="传统媒体人那么三次离职潮——伴随媒体转型的始末" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/50.html"  target="_blank" title="传统媒体人那么三次离职潮——伴随媒体转型的始末">传统媒体人那么三次离职潮——伴随媒体转型的始末</a></h3>
					<p>近日，媒体圈儿里频传资深传统媒体人离职消息，从南方都市报总经理陈朝华到浙江卫视总监夏陈安，再到FT中文网张力奋，在传统媒体日渐势微的当下，这些集中爆发的新闻在圈内引起了不小的反响，更有甚者借题......</p>
					<span>2015-02-07 11:33</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/49.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/49.html"  target="_blank" title="给传统媒体人Y君的一封信：别转行了，快回来做新媒体吧！">
							<img src="/uploads/allimg/150207/17.png" alt="给传统媒体人Y君的一封信：别转行了，快回来做新媒体吧！" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/49.html"  target="_blank" title="给传统媒体人Y君的一封信：别转行了，快回来做新媒体吧！">给传统媒体人Y君的一封信：别转行了，快回来做新媒体</a></h3>
					<p>这一年，你依然很不专心地开着小湘菜馆，我仍旧四处奔走。在朋友圈里，我们时常羡慕你和美女纵情山水；而你，想必庆幸自己不再沦落媒体圈的苦海吧。正如上次我们所聊的，你很幸福，我们很羡慕，而他们，还......</p>
					<span>2015-02-07 11:33</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/48.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/48.html"  target="_blank" title="网信办约谈网易：网易新闻存在严重导向问题">
							<img src="/uploads/allimg/150207/16.jpg" alt="网信办约谈网易：网易新闻存在严重导向问题" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/48.html"  target="_blank" title="网信办约谈网易：网易新闻存在严重导向问题">网信办约谈网易：网易新闻存在严重导向问题</a></h3>
					<p>近日，针对年检中发现的问题，北京市互联网信息办公室也先后约谈了新浪、搜狐、百度、和讯、天天在线网站负责人，向其通报了存在的问题，并责令其强化责任制度，切实采取全面有效的整改措施。在约谈网易时......</p>
					<span>2015-02-07 11:33</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/46.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/46.html"  target="_blank" title="信息流广告将成主流，极致的差异化服务才是方向">
							<img src="/uploads/allimg/150207/14.jpg" alt="信息流广告将成主流，极致的差异化服务才是方向" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/46.html"  target="_blank" title="信息流广告将成主流，极致的差异化服务才是方向">信息流广告将成主流，极致的差异化服务才是方向</a></h3>
					<p>因此，未来广告主们投放信息流广告的平台并不是唯一的，各大平台都有自己的独特的优势，如果是大品牌的用户,自身不差钱儿,可以选择在微信和微博上同时投放，既拉风又提升了曝光度;中小商家则可以侧重择选......</p>
					<span>2015-02-07 11:33</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/media/2015/0207/47.html" class="zzsz">
						</a><a href="/a/view/media/2015/0207/47.html"  target="_blank" title="微信公众号谣言四起，自媒体人需要深刻反思">
							<img src="/uploads/allimg/150207/15.png" alt="微信公众号谣言四起，自媒体人需要深刻反思" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/media/'>传媒</a></div>
					</div>
					<h3><a href="/a/view/media/2015/0207/47.html"  target="_blank" title="微信公众号谣言四起，自媒体人需要深刻反思">微信公众号谣言四起，自媒体人需要深刻反思</a></h3>
					<p>一直想写一篇关于微信”自媒体“（泛指部分微信公众账号）的批判性的文章，正好趁着这次人人网因为关闭站内信而引发的”谢幕“谣传负面传播事件，我按耐不住心中的不忿，一定要BB两句，现在的微信“自媒体......</p>
					<span>2015-02-07 11:33</span>
				</li>
							
					</ul>
		<div class="page">
        <a href='list_1.html' class="prev">上一页</a>
<a href='list_1.html'>1</a>
<a href="javascript:void(0);" class="on">2</a>
<a href='list_3.html'>3</a>
<a href='list_4.html'>4</a>
<a href='list_5.html'>5</a>
<a href='list_3.html' class="next">下一页</a>

		</div>
	</div>

	<!--右侧-->
	<div class="listr">
		<!-- 广告位_01 -->
		<div class="adimg"><a href="" title="" target="_blank"><img src="/dede58/html/images/img14.jpg" alt="" /></a></div>
		<!-- @广告位_01 -->
		<!--排行榜-->
		<div class="viewpoint hotlist">
			<div class="hd">
				<ul><li><a href="javascript:;" class="on">总排行</a></li><li><a href="javascript:;">月排行</a></li><li><a href="javascript:;">周排行</a></li></ul>
			</div>
			<div class="com-title"><span><img src="/dede58/html/images/symbol-18.png" alt="" />排行榜</span></div>
			<div class="bd">
						<ul>
      <li><a href="/a/view/ec/2015/0105/37.html">“差评”改“好评”一个收费260，揭</a></li>
<li><a href="/a/view/opinion/2015/0120/24.html">模仿苹果？小米线下软肋永不会补全</a></li>
<li><a href="/a/view/opinion/2015/0206/29.html">潘石屹拜访30多家互联网公司的背后—</a></li>
<li><a href="/a/view/media/2015/0207/52.html">一位自媒体人士的呐喊：微信公众号抄</a></li>
<li><a href="/a/view/opinion/2015/0207/203.html">红包成兵家必争之地，泛滥有隐忧需发</a></li>
<li><a href="/a/view/media/2015/0207/50.html">传统媒体人那么三次离职潮——伴随媒</a></li>
<li><a href="/a/view/ec/2015/0207/36.html">聚美“有钱任性”，“极速免税店”10</a></li>
<li><a href="/a/view/opinion/2015/0206/23.html">三连封杀令：暴露微信对外部社交力量</a></li>
<li><a href="/a/view/unicom/2015/0207/59.html">你感受过那种狂躁吗——电信业务办完</a></li>
     
							</ul>
						<ul>
       
							</ul>
						<ul>
       
							</ul>
						</div>
		</div>
		<div class="floatfix"></div>
		<!-- 广告位_02-->
		<div class="adimg2">
			<a href="" title="" target="_blank"><img src="/dede58/html/images/img15.jpg" alt="" /></a>
		</div>
		<!-- @广告位_02 -->
		<!--编辑推荐-->
		<div class="recommend">
			<div class="com-title" style="margin-bottom:10px;"><span><img src="/dede58/html/images/symbol-7.png" alt="编辑推荐" />编辑推荐</span></div>
			<ul class="ulfix">
                  <li><img src="/uploads/allimg/150206/13.jpg" alt="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/29.html"  target="_blank" title="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓">潘石屹拜访30多家互联网公司的背后——传统企</a>
	</p>
</li>
<li><img src="/uploads/allimg/150206/12.jpg" alt="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/28.html"  target="_blank" title="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结">裁判员和运动员的双重角色，腾讯在开放与封闭</a>
	</p>
</li>
<li><img src="/uploads/allimg/150206/10.jpg" alt="TFBOYS效应，三个十几岁的小鲜肉为什么会红？" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/26.html"  target="_blank" title="TFBOYS效应，三个十几岁的小鲜肉为什么会红？">TFBOYS效应，三个十几岁的小鲜肉为什么会红？</a>
	</p>
</li>
<li><img src="/uploads/allimg/150206/11.jpg" alt="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/27.html"  target="_blank" title="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上">连接一切的背后是控制一切，微信卡在了自我构</a>
	</p>
</li>

			</ul>
		</div>
		<!-- 广告位_03-->
		<div class="adimg"><a href="" title="" target="_blank"><img src="/dede58/html/images/img17.jpg" alt="" /></a></div>
		<!-- @广告位_03 -->
		<div class="follow">
			<div class="com-title"><span><img src="/dede58/html/images/symbol-5.png" alt="" />关注我们</span></div>
			<div class="followcon followcon2">
				<span>关注微信公众号，了解最新精彩内容</span>
				<p class="">
					<img src="/dede58/html/images/qr1.jpg" alt="" />
<img src="/dede58/html/images/qr2.jpg" alt="" />
				</p>
			</div>
		</div>
	</div>	

	<div class="mreturn">
		<div id="code"></div>
<div id="code_img" src="/dede58/html/images/qr2.jpg"></div>
<a id="gotop"></a> 

	</div>
</div>

	<!--网站公共页脚-->
	<div class="footer">
  <div class="wrapper">
    <div class="lft">Copyright &copy; 2002-2011 织梦科技 版权所有  备案：蜀ICP备12345678号 </div>
    <div class="rgt">
    
      <a href='/a/about/'>关于我们</a>
	<span></span>
    
      <a href='/a/about/report/'>寻求报道</a>
	<span></span>
    
      <a href='/a/about/submission/'>投稿须知</a>
	<span></span>
    
      <a href='/a/about/cooperation/'>商务合作</a>
	<span></span>
    
      <a href='/a/about/notice/'>版权申明</a>
	<span></span>
    
      <a href='/a/about/contact/'>联系我们</a>
	<span></span>
    
    <span style="display:none"><!-- 站长统计 --></span>
    </div>
  </div>
</div>	

<script>
$(function(){
	$(".nav li dl").each(function(){
		if($(this).find("dd").size()==0){
			$(this).remove();
		}		
	});
	
});
</script>
<!--@网站公共页脚-->
</body>
</html>
