<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
	<meta charset="gb2312">
<title>观点  /  观点_我的网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
	<!-- <link rel="stylesheet" type="text/css" href="/dede58/css/cmstop-common.css" />-->
	<!-- <link rel="stylesheet" type="text/css" href="/dede58/css/cmstop-index.css" /> -->
	<!--[if lt IE 9 ]>
		<script type="text/javascript" src="/dede58/js/helper/modernizr.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/dede58/js/cmstop-common.js"></script>
	<script type="text/javascript" src="/dede58/js/jquery.js"></script>
	<script type="text/javascript" src="/dede58/js/config.js"></script>
	<script type="text/javascript" src="/dede58/js/jquery.cookie.js"></script>
	<!-- <link href="http://img.ikanchai.com/apps/history/css/history.css" type="text/css" rel="stylesheet" /> -->
	<!-- 本页面私有 -->
    	<link rel="stylesheet" type="text/css" href="/dede58/html/css/style.css" />
    	<script type="text/javascript" src="/dede58/html/js/common.js"></script>
	<script type="text/javascript" src="/dede58/html/js/list.js"></script>
	<!-- @本页面私有 -->
</head>
<body>
	<!--网站公共头部-->
	<div class="topbar">
	 <div class=" wrapper">
		<div class="logo"><a href="/" title="我的网站" >我的网站</a></div>
		<ul class="nav">
			<li><strong><a href="/" title="" target="_self"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></strong></li>
            
	<li><strong><a href="/a/view/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;观点</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/view/opinion/" title="" target="_self">观点</a></dd>
                    
					<dd><a href="/a/view/ec/" title="" target="_self">电商</a></dd>
                    
					<dd><a href="/a/view/media/" title="" target="_self">传媒</a></dd>
                    
					<dd><a href="/a/view/unicom/" title="" target="_self">通信</a></dd>
                    
				</dl></li><li><strong><a href="/a/start/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;创投</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/start/work/" title="" target="_self">创业</a></dd>
                    
					<dd><a href="/a/start/people/" title="" target="_self">人物</a></dd>
                    
				</dl></li><li><strong><a href="/a/shangye/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;商业</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/zhike/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;智客</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/kuaibao/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;快报</a></strong>
                        <dl>
					<em></em>
                    
				</dl></li><li><strong><a href="/a/zimeiti/" title="" target="_self"><span class="glyphicon 
glyphicon-book"></span>&nbsp;&nbsp;自媒体</a></strong>
                        <dl>
					<em></em>
                    
					<dd><a href="/a/zimeiti/yejie/" title="" target="_self">业界</a></dd>
                    
					<dd><a href="/a/zimeiti/shouyou/" title="" target="_self">手游</a></dd>
                    
					<dd><a href="/a/zimeiti/chuanmei/" title="" target="_self">传媒</a></dd>
                    
					<dd><a href="/a/zimeiti/shouji/" title="" target="_self">手机</a></dd>
                    
				</dl></li>          
     
		</ul>
		<div class="action"> 
			<a href="/a/about/submission/" class="n1" target="_blank" title="投稿">投稿</a>			
		</div>
	</div>
</div>

	<!--@网站公共头部-->
	<div class="main newslist">
	<!--左侧-->
	<div class="listl list2">
		<div class="listview">观点</div>
		<ul>
    <li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0207/204.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0207/204.html"  target="_blank" title="算法推荐阅读的冷思考——自我选择才是真正的“个性化”">
							<img src="/uploads/allimg/150207/1-15020G516310-L.jpg" alt="算法推荐阅读的冷思考——自我选择才是真正的“个性化”" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0207/204.html"  target="_blank" title="算法推荐阅读的冷思考——自我选择才是真正的“个性化”">算法推荐阅读的冷思考——自我选择才是真正的“个性化</a></h3>
					<p>随着互联网大数据时代的到来，不管愿意还是不愿意，大数据正在影响着我们的阅读习惯。以用户社交网络为基础和用户信息流为载体的阅读平台悄然诞生，以今日头条为代表的阅读软件在不知不觉中生长出了个性化阅读的萌芽。 不可否认，算法推荐的出现，是外部环境...</p>
					<span>2015-02-07 15:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0207/203.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0207/203.html"  target="_blank" title="红包成兵家必争之地，泛滥有隐忧需发力多元化">
							<img src="/uploads/allimg/150207/1-15020G515560-L.jpg" alt="红包成兵家必争之地，泛滥有隐忧需发力多元化" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0207/203.html"  target="_blank" title="红包成兵家必争之地，泛滥有隐忧需发力多元化">红包成兵家必争之地，泛滥有隐忧需发力多元化</a></h3>
					<p>随着移动互联网及移动应用的火爆，大众的生活、工作、娱乐等方式已经被全面改变，甚至很多风俗习惯也悄然发生变化。其中，最明显的变化就是红包发放的形式。自去年微信红包发放以来，红包一词就迅速走红，能否发红包和收到红包的数量成为人们比拼的对象。而...</p>
					<span>2015-02-07 15:15</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0207/201.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0207/201.html"  target="_blank" title="“再造搜狐”空喊五年，张朝阳回归就能改变一切？">
							<img src="/uploads/allimg/150207/1-15020G513180-L.jpg" alt="“再造搜狐”空喊五年，张朝阳回归就能改变一切？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0207/201.html"  target="_blank" title="“再造搜狐”空喊五年，张朝阳回归就能改变一切？">“再造搜狐”空喊五年，张朝阳回归就能改变一切？</a></h3>
					<p>2012年起，张朝阳进入了长达一年半与世隔绝的闭关状态，他研究很多东西，比如大脑结构、西方心理学及脑科学进展以及佛教等等，通过这些在外人看来稀奇古怪的研究来对抗抑郁症。 因精神状况闭关两年后，2014年年初，张朝阳回归疆...</p>
					<span>2015-02-07 15:12</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/32.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/32.html"  target="_blank" title="追责阿里声讨腾讯约谈网易，政府强硬管理要为互联网立规矩">
							<img src="/uploads/allimg/150206/16.png" alt="追责阿里声讨腾讯约谈网易，政府强硬管理要为互联网立规矩" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/32.html"  target="_blank" title="追责阿里声讨腾讯约谈网易，政府强硬管理要为互联网立规矩">追责阿里声讨腾讯约谈网易，政府强硬管理要为互联网立</a></h3>
					<p>1月28日，工商总局公开“白皮书”，指责阿里系网络交易平台存在主体准入把关不严、对商品信息审查不力、销售行为管理混乱、信用评价存有缺陷、内部工作人员管控不严等“五宗罪”。阿里巴巴则反唇相讥国家......</p>
					<span>2015-02-06 22:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/31.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/31.html"  target="_blank" title="严刹抄袭之风，微信缘何被抓了典型">
							<img src="/uploads/allimg/150206/15.jpg" alt="严刹抄袭之风，微信缘何被抓了典型" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/31.html"  target="_blank" title="严刹抄袭之风，微信缘何被抓了典型">严刹抄袭之风，微信缘何被抓了典型</a></h3>
					<p>不过，辩证一点来看问题，倘若微信公众平台此次真的按照其发布的处罚规则来执行，完全杜绝缺乏原创能力的账号转载他人的原创内容，从传播角度来看，无异于阻碍信息的自由流通。所以，在尊重原创和内容创作......</p>
					<span>2015-02-06 22:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/30.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/30.html"  target="_blank" title="蜷缩在泡沫里的机器人，最后一次展望它的未来">
							<img src="/uploads/allimg/150206/14.jpg" alt="蜷缩在泡沫里的机器人，最后一次展望它的未来" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/30.html"  target="_blank" title="蜷缩在泡沫里的机器人，最后一次展望它的未来">蜷缩在泡沫里的机器人，最后一次展望它的未来</a></h3>
					<p>2015年国际消费类电子产品展览会上，一位来自日本东芝公司的美女机器人惊艳全场，逼真的形态结合精密的人机交互功能，不仅在展会上抢走了各种平庸手机们的风头，也借助CES的影响力，再次让全世界范围内的......</p>
					<span>2015-02-06 22:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/29.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/29.html"  target="_blank" title="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓">
							<img src="/uploads/allimg/150206/13.jpg" alt="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/29.html"  target="_blank" title="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓"><b>潘石屹拜访30多家互联网公司的背后——传统企业转型刻</b></a></h3>
					<p>过去三个月，SOHO中国董事长潘石屹忙着在互联网公司间到处“串门”。当然，这个地产巨头的“串门”，肯定不同于普通老百姓的走亲访友，他是要向这些互联网公司虚心求教学习，然后替SOHO中国追逐互联网这个......</p>
					<span>2015-02-06 22:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/28.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/28.html"  target="_blank" title="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结">
							<img src="/uploads/allimg/150206/12.jpg" alt="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/28.html"  target="_blank" title="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结"><b>裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠</b></a></h3>
					<p>微信刚处于商业化的起步阶段，在很长一段时间里将会继续保持增长，但总有一天会出现瓶颈。到那天，势必会移动游戏开放平台一样被迫走向开放。这其实就是一个简单的轮回。因为腾讯不仅是一个开放平台，也是......</p>
					<span>2015-02-06 22:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/27.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/27.html"  target="_blank" title="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上">
							<img src="/uploads/allimg/150206/11.jpg" alt="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/27.html"  target="_blank" title="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上"><b>连接一切的背后是控制一切，微信卡在了自我构筑的高墙</b></a></h3>
					<p>今天晚上，支付宝针对新春红包上线了“红包口令”功能。简单来说，这是一个代替链接的功能：用户只要知道一个 支付宝红包 的5位数口令，就能在支付宝钱包首页中输入这些数字，即可领取红包。当然，为了防......</p>
					<span>2015-02-06 22:16</span>
				</li><li>
			
					<div class="viewimg"><div class="hotimgzz"></div><a href="/a/view/opinion/2015/0206/26.html" class="zzsz">
						</a><a href="/a/view/opinion/2015/0206/26.html"  target="_blank" title="TFBOYS效应，三个十几岁的小鲜肉为什么会红？">
							<img src="/uploads/allimg/150206/10.jpg" alt="TFBOYS效应，三个十几岁的小鲜肉为什么会红？" width="250" height="165"/>
						</a>
						<div class="standpoint"><a href='/a/view/opinion/'>观点</a></div>
					</div>
					<h3><a href="/a/view/opinion/2015/0206/26.html"  target="_blank" title="TFBOYS效应，三个十几岁的小鲜肉为什么会红？"><b>TFBOYS效应，三个十几岁的小鲜肉为什么会红？</b></a></h3>
					<p>过去半年，关键词“TFBOYS”在百度上的平均搜索指数为133327，是“周杰伦”的近三倍，只比“杨幂”低一点点，尽管一年半前这个词还没出现。据QQ空间近日发布的数据报告，TFBOYS在00后年龄段影响力已经超越......</p>
					<span>2015-02-06 22:16</span>
				</li>
							
					</ul>
		<div class="page">
        <a href="javascript:void(0);" class="on">1</a>
<a href='list_7_2.html'>2</a>
<a href='list_7_2.html' class="next">下一页</a>

		</div>
	</div>

	<!--右侧-->
	<div class="listr">
		<!-- 广告位_01 -->
		<div class="adimg"><a href="" title="" target="_blank"><img src="/dede58/html/images/img14.jpg" alt="" /></a></div>
		<!-- @广告位_01 -->
		<!--排行榜-->
		<div class="viewpoint hotlist">
			<div class="hd">
				<ul><li><a href="javascript:;" class="on">总排行</a></li><li><a href="javascript:;">月排行</a></li><li><a href="javascript:;">周排行</a></li></ul>
			</div>
			<div class="com-title"><span><img src="/dede58/html/images/symbol-18.png" alt="" />排行榜</span></div>
			<div class="bd">
						<ul>
      <li><a href="/a/view/opinion/2015/0120/24.html">模仿苹果？小米线下软肋永不会补全</a></li>
<li><a href="/a/view/opinion/2015/0206/29.html">潘石屹拜访30多家互联网公司的背后—</a></li>
<li><a href="/a/view/opinion/2015/0207/203.html">红包成兵家必争之地，泛滥有隐忧需发</a></li>
<li><a href="/a/view/opinion/2015/0206/23.html">三连封杀令：暴露微信对外部社交力量</a></li>
<li><a href="/a/view/opinion/2015/0206/30.html">蜷缩在泡沫里的机器人，最后一次展望</a></li>
<li><a href="/a/view/opinion/2015/0206/25.html">移动互联网只是工具，风口上的猪只是</a></li>
<li><a href="/a/view/opinion/2015/0206/26.html">TFBOYS效应，三个十几岁的小鲜肉为什</a></li>
<li><a href="/a/view/opinion/2015/0207/204.html">算法推荐阅读的冷思考——自我选择才</a></li>
<li><a href="/a/view/opinion/2015/0207/201.html">“再造搜狐”空喊五年，张朝阳回归就</a></li>
     
							</ul>
						<ul>
       
							</ul>
						<ul>
       
							</ul>
						</div>
		</div>
		<div class="floatfix"></div>
		<!-- 广告位_02-->
		<div class="adimg2">
			<a href="" title="" target="_blank"><img src="/dede58/html/images/img15.jpg" alt="" /></a>
		</div>
		<!-- @广告位_02 -->
		<!--编辑推荐-->
		<div class="recommend">
			<div class="com-title" style="margin-bottom:10px;"><span><img src="/dede58/html/images/symbol-7.png" alt="编辑推荐" />编辑推荐</span></div>
			<ul class="ulfix">
                  <li><img src="/uploads/allimg/150206/13.jpg" alt="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/29.html"  target="_blank" title="潘石屹拜访30多家互联网公司的背后——传统企业转型刻不容缓">潘石屹拜访30多家互联网公司的背后——传统企</a>
	</p>
</li>
<li><img src="/uploads/allimg/150206/12.jpg" alt="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/28.html"  target="_blank" title="裁判员和运动员的双重角色，腾讯在开放与封闭中来回纠结">裁判员和运动员的双重角色，腾讯在开放与封闭</a>
	</p>
</li>
<li><img src="/uploads/allimg/150206/10.jpg" alt="TFBOYS效应，三个十几岁的小鲜肉为什么会红？" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/26.html"  target="_blank" title="TFBOYS效应，三个十几岁的小鲜肉为什么会红？">TFBOYS效应，三个十几岁的小鲜肉为什么会红？</a>
	</p>
</li>
<li><img src="/uploads/allimg/150206/11.jpg" alt="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上" width="150" height="98" />
	<p>
		<a href="/a/view/opinion/2015/0206/27.html"  target="_blank" title="连接一切的背后是控制一切，微信卡在了自我构筑的高墙上">连接一切的背后是控制一切，微信卡在了自我构</a>
	</p>
</li>

			</ul>
		</div>
		<!-- 广告位_03-->
		<div class="adimg"><a href="" title="" target="_blank"><img src="/dede58/html/images/img17.jpg" alt="" /></a></div>
		<!-- @广告位_03 -->
		<div class="follow">
			<div class="com-title"><span><img src="/dede58/html/images/symbol-5.png" alt="" />关注我们</span></div>
			<div class="followcon followcon2">
				<span>关注微信公众号，了解最新精彩内容</span>
				<p class="">
					<img src="/dede58/html/images/qr1.jpg" alt="" />
<img src="/dede58/html/images/qr2.jpg" alt="" />
				</p>
			</div>
		</div>
	</div>	

	<div class="mreturn">
		<div id="code"></div>
<div id="code_img" src="/dede58/html/images/qr2.jpg"></div>
<a id="gotop"></a> 

	</div>
</div>

	<!--网站公共页脚-->
	<div class="footer">
  <div class="wrapper">
    <div class="lft">Copyright &copy; 2002-2011 织梦科技 版权所有  备案：蜀ICP备12345678号 </div>
    <div class="rgt">
    
      <a href='/a/about/'>关于我们</a>
	<span></span>
    
      <a href='/a/about/report/'>寻求报道</a>
	<span></span>
    
      <a href='/a/about/submission/'>投稿须知</a>
	<span></span>
    
      <a href='/a/about/cooperation/'>商务合作</a>
	<span></span>
    
      <a href='/a/about/notice/'>版权申明</a>
	<span></span>
    
      <a href='/a/about/contact/'>联系我们</a>
	<span></span>
    
    <span style="display:none"><!-- 站长统计 --></span>
    </div>
  </div>
</div>	

<script>
$(function(){
	$(".nav li dl").each(function(){
		if($(this).find("dd").size()==0){
			$(this).remove();
		}		
	});
	
});
</script>
<!--@网站公共页脚-->
</body>
</html>
