@charset "utf-8";
/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 */

html {
	zoom: 1;
}
html * {
	outline: 0;
	zoom: 1;
}
html button::-moz-focus-inner {
border-color:transparent!important;
}
body {
	overflow-x: hidden;
	font-size: 12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {/*border-collapse:collapse;border-spacing:0;*/
}
fieldset, a img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
}/* 清除浮动*/
.colwrapper {
	overflow: hidden;
	zoom: 1 /*for ie*/;
	margin: 5px auto;
}/* 高度自适应 */
.strong {
	font-weight: bold;
}
.lft{
	float: left; display:inline;
}
.rgt{
	float: right;display:inline;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.show {
	display: block;
	visibility: visible;
}
.hide {
	display: none;
	visibility: hidden;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.transparent {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.break {
	word-wrap: break-word;
	overflow: hidden; /*word-break:break-all;*/
}
.tl {
	text-align: left
}
.tr {
	text-align: right;
}
.bk, .bk3, .bk6, .bk8, .bk10, .bk15, .bk20 {
	clear: both;
	font-size: 0;
	height: 0;
	overflow: hidden;
}
.bk5 {
	height: 5px;
}
.bk8 {
	height: 8px;
}
.bk10 {
	height: 10px;
}
.bk15 {
	height: 15px;
}
.bk20 {
	height: 20px;
}
/* 解决固定层在IE6下闪的问题 */
*html {
	background-image: url(about:blank);
	background-attachment: fixed;
}
.blue{ color:#01a998;}
body {
        min-width:1100px;
	color: #333;
	line-height: 22px;
	font-family: "微软雅黑", "黑体", Arial;
	background:#F2F2F2 url(../images/bg.jpg) repeat-x center top;
}
a {
	outline: none;
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: underline;
	color: #00AA98;
}
.wrapper{
	width:1200px;
	margin: 0 auto;
	clear: both;
	height: auto;
}
.topbar{ height:60px; background:#3E3E3E;}
.topbar .logo{ float:left; height:60px; overflow:hidden; width:138px;}
.topbar .logo a{ display:block; height:60px; background:url(../images/logo.png) no-repeat; width:138px; text-indent:-999em;}

.nav{ float:left; margin-left:15px;}
.nav li{ float:left; font-size:16px;  position:relative;height:60px; line-height:60px; }
.nav li i{ display:inline-block; background:url(../images/arrow.png) no-repeat; width:12px; height:7px; position:relative; top:-2px; margin-left:5px;}
.nav li a:hover{ text-decoration:none;}
.nav li.on strong a{background:#00AA98; color:#fff;}
.nav strong{font-weight:normal !important;}
.nav strong a{ display:block; float:left; height:60px; line-height:60px;padding:0 12px; color:#fff; font-size:18px;}
.nav strong a:hover{ background:#00AA98;}
.nav dl{width:100px;background:#fff;position:absolute;height:auto;left:0px;top:60px;padding:10px 0;text-align:center;border:#eaeaea solid 1px;display:none; box-shadow:2px 2px 4px #ccc;}
.nav dl a{font-size:14px;}
.nav dl a:hover{color:#767676;}
.nav dl em{width:12px;height:7px;position:absolute;top:-7px;left:35px;}
.nav dl dd{ line-height:35px;}
.nav dl dd a{ display:block; line-height:35px; height:35px;}
.nav dl dd a:hover{ background:#00AA98; color:#fff;}
.nav li.selected dl{display:block;}


.action { float:right; padding-top:12px;}
.action a{ display:inline-block; height:34px; line-height:34px; color:#fff;opacity:0.9; filter:alpha(opacity=90); font-size:16px;}
.action a:hover{opacity:1; filter:alpha(opacity=100); text-decoration:none; }
.action a.n1{ background:#00AA98 url(../images/icon1.png) no-repeat 8px center; padding:0 6px 0 30px; margin-right:10px;}
.action a.n2{ background:#505050; padding:0 17px;}
.action a.n3{ background:#00AA98; padding:0 17px;}

.imgbox{}
.imgbox .lft{ margin-top:48px; margin-left:35px;}
.imgbox .rgt{ margin-top:50px; margin-right:5px; margin-bottom:5px;}
.mainBox{ background:#fff url(../images/bg1.png) repeat-y left top;}
.leftBox{ width:170px; float:left;}
.subNav li{ height:58px; background:url(../images/line.png) repeat-x left bottom; line-height:58px; font-size:18px; color:#fff; }
.subNav li a{ color:#fff; font-size:18px; display:block; height:58px; width:170px; line-height:58px; text-align:center;position:relative;}
.subNav li a i{ background:url(../images/arrow_left.png) no-repeat; width:12px; height:22px; position:absolute; top:50%; margin-top:-11px; right:-12px; display:none;}
.subNav li.on a{ background:url(../images/nav_hover.png) no-repeat; color:#fff;}
.subNav li.on a i{ display:block;}
.subNav li a:hover{ color:#0DAE9D;  text-decoration:none;}
.subNav li.on a:hover{ color:#fff;}
.rightBox{ width:960px; float:right; margin-right:34px; display:inline; padding:15px 0 40px 0;}
.position{ border-bottom:1px solid #D9D9D9; padding-left:25px; background:url(../images/home_ico.png) no-repeat 5px center; height:40px; line-height:40px;}
.rightBox .body{font-size:14px; padding:10px 0;}
.rightBox .body h1{ font-size:22px; line-height:30px; font-weight:bold; color:#666; padding:20px 0;}
.rightBox .body .detail{ line-height:30px; color:#5a5a5a; }
.rightBox .body .detail h3{ font-size:18px; font-weight:bold;}
.rightBox .body .detail .img{ text-align:center; padding:40px 0;}
.rightBox .body .pb10 p{ padding:5px 0 10px 0;}
.rightBox .body .pb10 h3{ padding:10px 0 10px 0;}
.contact .item{ padding:35px 10px; border-bottom:1px solid #E6E6E6;}
.contact .item h3{ font-size:18px; color:#00aa98; font-weight:bold; line-height:34px; margin-bottom:30px;}
.contact .item .thumb{ float:left;}
.contact .item .desc { width:478px; float:right; font-size:16px; color:#5a5a5a;}
.contact .item .desc h4{ color:#5a5a5a; font-size:24px; font-weight:bold; line-height:30px; padding:28px 0; padding-left:24px; }
.contact .item .desc ul li{ padding-left:30px; height:28px; line-height:28px; margin-bottom:30px;}
.contact .item .desc ul li.ico1{ background:url(../images/ico1.jpg) no-repeat 5px center;}
.contact .item .desc ul li.ico2{ background:url(../images/ico2.jpg) no-repeat left center;}
.contact .item .desc ul li.ico3{ background:url(../images/ico3.jpg) no-repeat left center;}
.contact .item .desc ul li.ico4{ background:url(../images/ico4.jpg) no-repeat left center;}
.contact .item .desc ul li.ico5{ background:url(../images/ico5.jpg) no-repeat left center;}
.txtinfo .item .hd{ padding:15px 10px; border-bottom:1px solid #CFD4D9;}
.txtinfo .item .bd{ padding:40px 0; text-align:center;}
.txtinfo .item .bd ul li{ float:left; display:inline; width:240px; margin-right:100px;}
.txtinfo .item .bd ul li h5{ padding:10px 0; font-size:18px;}
.txtinfo .item .bd ul li.last{ margin-right:0;}

.sitemap { padding:15px 0 0 40px;}
.sitemap .item { margin-bottom:30px; }
.sitemap .item li{ float:left; border:1px solid #EDEDED; width:120px; height:50px; line-height:50px; text-align:center; margin-left:-1px; margin-top:-1px;}
.sitemap .item li a{ display:block; float:left; width:120px; height:50px; line-height:50px;}
.sitemap .item li a:hover{ background:#00AA98; color:#fff; text-decoration:none;}

.flink { padding:15px 0 0 30px;}
.flink .item li{ float:left; border:1px solid #F8F8F8; width:177px; height:84px;text-align:center; margin-left:-1px; margin-top:-1px; overflow:hidden;}
.flink .item li a{ display:block; float:left; width:177px; height:84px;}
.flink .item li a:hover{ opacity:0.8; filter:alpha(opacity=80); }

.box1{ margin-bottom:80px;}
.box1 .lft{ width:480px;}
.box1 .rgt{ margin-right:120px;}
.t2 p{ text-indent:2em;}

.grounp li{ float:left; width:140px; padding:15px; background:#01A998; color:#fff; display:inline; margin-right:20px;margin-bottom: 20px;}
.grounp li .thumb{ height:140px; width:140px;}
.grounp li .desc{ height:122px;}
.grounp li .desc h4{ text-align:center; font-size:18px; height:45px; line-height:45px;}
.grounp li .desc p{ line-height:22px; font-size:12px;}
.footer{ height:54px; line-height:54px; background:#3E3E3E; color:#fff; font-size:14px; color:#8f8f8f; margin-top:48px;}
.footer a{color:#8f8f8f;}
.footer .rgt{}
.footer .rgt span{ display:inline-block; background:url(../images/line2.png) no-repeat center; width:20px; height:20px; position:relative; top:5px;}





